<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lime.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Trevi.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Trevi_ver_lime.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>232299901C61E00D003E44AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239411D21C0C2DA3001B9B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>239411E11C0C2E19001B9B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23973D841C25AE7400FBB8E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF0900D51C6ECFBD008CA6F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
